body
{
	background-color:grey;
    color:#f4f4f4f4
    font: normal 16px Verdana,Geneva,sans-serif;
    line-height: 1.6em;
    margin:0;
}
form-group:hover{
    color:yellow;
}
.button{
    color: black;
    padding: 10px 15px;
    border: none;
    margin-left: 45%;
}

h1{
    margin: 20px;
    color:coral;
    font-size: 26px;
    margin-left: 40%;
    margin-top: 2%;
}

.my-form{
	width:40%;
    padding: 3px;
    margin-left: 30%;
    margin-right:40%;
}
.
}
.my-form label{
	display: block;
}
.my-form input{
	padding: 8px;
	width: 100%; 
}
.my-form.form-group{
    padding-bottom: 15px;
}
.form-group{
    background-color: black;
    color:white;
}
button:hover{
    background-color:red;
	color: blue;
}
button:active{
    color:tomato;
}
#main-footer{
    margin: 70px;
    padding-bottom: 50px


}
